 * {
    /* change le box model */
    box-sizing: border-box;
}

img {
      /* image responsive, largeur maxi */
      max-width: 100vw;
      /* hauteur "auto" */
      height: auto;
}

.carrousel_parent-ecrans {
      /* aligne horizontalement les enfants */
      display: flex;
      /* largeur du parent */   
      width: 100%;
      overflow-x: scroll;
      scroll-behavior: smooth;
      /*permet de scroller par bloc*/
      scroll-snap-type: x mandatory;
}

.carrousel_ecran {
      /* largeur du parent pour chaque enfant */
      /* permet de garder toute la largeur du parent */
      width: 100%;
      scroll-snap-align: start;
}

.carrousel_ecran figure {
      /* enlève les marges par défaut */
      margin: 0;
}